* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1e293b;

    padding: 16px 32px;
}

.logo {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 28px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #10B981;
}2